#dashboardMainContainer {
  display: flex;
  flex-direction: row;
}
div.dashboard_sidebar {
  width: 20%;
  background: rgb(156, 15, 10);
  height: 100vh;
}
div.dashboard_content_container {
  width: 80%;
  background-image: url(login-background3.jpg);
}
h3.dashboard_logo {
  color: antiquewhite;
  font-size: 50px;
  text-align: center;
  margin-top: 0;
}
div.dashboard_sidebar_user img {
  width: 60px;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid black;
}
div.
